.wrapper {
  width: 1000px;
  max-width: 60vw;
  margin-inline: auto;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  svg {
    display: block;
    height: auto;
  }

  svg:not(.line) {
    width: min(1000px, 100%);
  }

  .line {
    width: 12px;
    height: 44px;
  }

  path,
  line {
    fill: none;
    stroke: #231815;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

  path {
    stroke-width: 30px;
  }

  .line line {
    stroke-width: 12px;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  path[data-draw="true"],
  line[data-draw="true"] {
    animation-name: draw;
    animation-duration: var(--draw-duration, 1.5s);
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: var(--draw-delay, 0s);
  }
}
