.footer {
  padding: 8rem 0 4rem;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.copyright {
  color: var(--color-sub-text);
  font-size: 0.95rem;
}

.tech {
  color: var(--color-sub-text);
  font-size: 0.95rem;
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
