:root {
  --color-background: #ffffff;

  --color-text: #111111;

  --color-sub-text: #666666;

  --color-border: #ececec;

  --max-width: 1100px;

  --header-height: 80px;

  --section-padding: 160px;

  --font-size-xs: 0.875rem;

  --font-size-sm: 1rem;

  --font-size-md: 1.5rem;

  --font-size-lg: 3rem;

  --font-size-xl: 5rem;
}
