@use "../../../styles/abstracts/mixins" as *;

.works {
  padding: var(--section-padding) 0;
}

.heading {
  @include section-heading;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid > div {
  height: 100%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
