.works {
  padding: var(--section-padding) 0;
}

.heading {
  margin-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.grid > div {
  height: 100%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}
