@use "../styles/base/reset";
@use "../styles/base/typography";
@use "../styles/abstracts/variables";

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

html.drawer-open {
  position: fixed;
  overflow: hidden;

  top: calc(var(--scroll-y) * -1);
  left: 0;

  width: 100%;

  overscroll-behavior: none;
}
