.hero {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: clamp(4rem, 10vw, 7rem);
  font-weight: 700;
  line-height: 1.1;
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--color-sub-text);
}

.scroll {
  margin-top: 3rem;
  color: var(--color-sub-text);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition:
    opacity .3s ease,
    transform .3s ease;
  opacity: 0;
  animation: 
    fadeIn 1s ease 6s forwards,
    bounce 2s ease-in-out 6.8s infinite;
}

.scroll:hover {
  opacity: 0.6;
  transform: translateY(4px);
}

.scrollText {
  color: var(--color-sub-text);
  font-size: 1.1rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.scrollBar {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 16px;
  background: var(--color-text);
  border-radius: 999px;
  transform: translateX(-50%);
}

.signatureWrapper {
  width: 60%;
  margin-inline: auto;
  animation: fadeIn 0.8s ease 0.1s forwards;
  opacity: 0;
  margin: 6rem 0;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width:768px){
  .scroll{
    font-size: .75rem;
    letter-spacing: .12em;
  }
}
