.hero {
  min-height: 100vh;

  display: flex;

  align-items: center;
}

.inner {
  width: 100%;
}

.title {
  font-size: clamp(4rem, 10vw, 7rem);

  font-weight: 700;

  line-height: 1.1;
}

.description {
  margin-top: 1rem;

  font-size: 1.25rem;
}

.scroll {
  display: inline-block;

  margin-top: 5rem;

  color: var(--color-sub-text);

  font-size: 0.9rem;
}
