.logo {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.logo img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.dark {
  visibility: hidden;
}

:global(html.dark) .light {
  visibility: hidden;
}

:global(html.dark) .dark {
  visibility: visible;
}
